@model Capstone.Web.Models.ItineraryModel
@{
    ViewBag.Title = "SubmitItinerary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pagetitle">Create New Itinerary</h2>
@using (Html.BeginForm("SubmitItinerary","Itinerary", new { @class = "NewItineraryForm" }))
{
    @Html.Label("itinerary_name","Please name your itinerary")
    @Html.TextBoxFor(m => m.Name, new {name="itinerary_name" })
    @Html.ValidationMessageFor(m => m.Name)

    @Html.Label("itinerary_date","Please select a date for your tour")
    @Html.EditorFor(m => m.Date, new {name="itinerary_date" })
    @Html.ValidationMessageFor(m => m.Date)

    @Html.Label("starting_location", "Enter Starting Address or Name of place")
    @Html.TextBox("SearchBox", null, new { @id="itinerary_search"})
    @Html.HiddenFor(m => m.StartingLatitude)
    @Html.HiddenFor(m => m.StartingLongitude)
    <button  class="btn btn-default btn-primary" id="itinerary_submit">Submit</button>
} 
<script>
    var startingLocation = new Object();
    startingLocation.Lat = 0;
    startingLocation.Lng = 0;
    giveSuggestions();
</script>