@model Capstone.Web.Models.ItineraryModel

@{
    ViewBag.Title = "ItineraryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="pagetitle"> <strong>@Model.Itinerary_Name</strong> </h2>

<p class="itinerary_date_detailpage"> for <br /> <strong>@Model.Date.DayOfWeek @Model.Date.ToShortDateString()</strong> </p>

@if (Model.LandmarkList != null)
{
    int stop_number = 0;

    <table>
        @foreach (var landmark in Model.LandmarkList)
        {

        stop_number = stop_number + 1;
        <tr>
            <td>
             <strong>Stop @stop_number</strong>
                   @landmark.Name
            </td>
        </tr>
        }
    </table>


}
