@model Capstone.Web.Models.ItineraryModel

@{
    ViewBag.Title = "ItineraryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="well well-sm">

    <h2 class="pagetitle"> <strong>@Model.Itinerary_Name</strong> </h2>

    <p class="itinerary_date_detailpage"> for <br /> <strong>@Model.Date.DayOfWeek @Model.Date.ToShortDateString()</strong> </p>



    <table class="itin_details_table table-bordered col-sm-8 center-table" align="center">
        <tr>


            <th class="stops">
                <strong>Start:</strong>
            </th>
            <td class="itin_detail_col">



                @Model.Directions.routes[0].legs[0].start_address               

            </td>
        </tr>
        @for (int i = 1; i < Model.Directions.routes[0].legs.Length; i++)
        {

            <tr>
                <th class="stops">
                    <strong>Stop @i:</strong>
                </th>
                <td class="itin_detail_col" style="word-wrap: break-word; max-width: 10px;">
                    @Model.LandmarkList[i - 1].Name
                    <br />
                    @Model.Directions.routes[0].legs[i].start_address
                </td>


                <td class="itin_detail_col directions_column">

                    @for (int j = 0; j < Model.Directions.routes[0].legs[i].steps.Length-1; j++)
                    {

                        
                        @Html.Raw("Turn " + (j+1) + ": "+ Model.Directions.routes[0].legs[i].steps[j].html_instructions +"<br/>")



                     }

                </td>

                <td class="itin_detail_col">
                    <button class="check_in_button btn btn-primary btn-lg"> Check In </button>
                </td>

            </tr>


    }
    </table>



</div>
