@model Capstone.Web.Models.ItineraryModel

@{
    ViewBag.Title = "ItineraryDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="well well-sm">

    <h2 class="pagetitle"> <strong>@Model.Itinerary_Name</strong> </h2>

    <p class="itinerary_date_detailpage"> for <br /> <strong>@Model.Date.DayOfWeek @Model.Date.ToShortDateString()</strong> </p>

    @if (Model.LandmarkList != null)
    {
        int stop_number = 0;

        <table class="itin_details_table" align="center">
            @foreach (var landmark in Model.LandmarkList)
            {

                stop_number = stop_number + 1;
                <tr>
                    <td>
                        <strong>Stop @stop_number</strong>
                        <br />
                        @landmark.Name
                        <br />
                        <button class="btn btn-primary btn-lg center-block"> Check In </button>
                        <br />
                    </td>
                </tr>
            }
        </table>


    }
</div>
