@model List<Capstone.Web.Models.ItineraryModel>

@{
    ViewBag.Title = "ViewItineraries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page_content well well-sm container col-sm-pull-6 center-block">
    <h2 class="pagetitle">Your Itineraries</h2>
    <br />
    <br />
 

    <table class="list_of_itineraries table-bordered center-table table-hover well">
        @if (Model != null)
        {
            if ((Model.Count == 0))
            {
                <tr class="itinerary_row">
                    <td class="text-center">
                        <br />
                        You do not have any itineraries.
                        <br />
                        <br />
                    </td>
                </tr>
            }

            else
            {
                <h3 style="text-align: center;"> <strong>Click an itinerary below to view a route</strong></h3>
                <br />
                foreach (var itinerary in Model)
                {
                    <tr class="itinerary_row" onclick="location.href = '@Url.Action("ItineraryDetails", "Itinerary", new { itineraryID = itinerary.ID })'">
                        <td class="itinerary_name">
                            <b>@itinerary.ItineraryName</b>
                        </td>
                        <td class="itinerary_date">
                            @itinerary.Date.DayOfWeek
                            @itinerary.Date.ToShortDateString()
                        </td>

                    </tr>
                }


            }
        }

    </table>
    <br />
    <table class="center-table">
        <tr>
            <td>
                <br />
                <input type="button" class="btn btn-primary btn-lg center-block" value="Create Itinerary" onclick="@("window.location.href='" + @Url.Action("CreateItinerary", "Itinerary") + "'");" />
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <br />
                <h3>
                    Click <b>Create Itinerary</b> to plan a new route!
                </h3>
                <br />
                <br />
            </td>
        </tr>
    </table>
    <br />
    <br />
</div>