
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/styles.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.1.1.js"></script>
    <script src="../../Scripts/scripts.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
</head>
<body>
    @*<div class="page-header">
            <header>
                <img src="../../Content/imgs/skyline.png" />
                <img src="~/Content/imgs/Logo.png" />
            </header>
        </div>*@

    <nav class="navbar navbar-inverse">
        <img src="~/Content/imgs/Logo.png" height="150" />
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li name="home">@Html.ActionLink("Home", "Index", "Home")</li>
                <li name="addLandmark">@Html.ActionLink("Add Landmark", "SubmitNewLandmark", "Landmark")</li>
                <li name="approveLandmark">@Html.ActionLink("Approve Landmark", "UnapprovedLandmarkList", "Landmark")</li>
                <li name="viewLandmarks">@Html.ActionLink("View Landmarks", "LandmarkList", "Landmark")</li>
                <li name="viewItineraries">@Html.ActionLink("View Itineraries", "ViewItineraries", "Itinerary")</li>
                <li name="createItinerary">@Html.ActionLink("Create Itinerary", "CreateItinerary", "Itinerary")</li>
            </ul>
        </div>
    </nav>
    <section id="main_content">
        @RenderBody()
    </section>
</body>
</html>