
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/styles.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-3.1.1.js"></script>
    <script src="../../Scripts/scripts.js"></script>
    <script src="../../Scripts/jquery.validate.js"></script>
    <script src="../../Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/additional-methods.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true&libraries=places,geometry&key=AIzaSyDu0VhcsrEx_f3CdQFVOC_Sw3r29lWBnYA" type="text/javascript"></script>
    <script type="text/javascript">
        var serviceUrl = "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)@Url.Content("~/")";
    </script>
    <script src="~/Scripts/landmarkItineraryService.js"></script>
</head>
<body>

    <header>
        <div class="container-fluid row" id="logo-bar">
            <div class="col-md-5 hidden-sm hidden-xs">
                <img  class="img-responsive"src="~/Content/imgs/cleveland-skyline-black-silhouette.svg" />
            </div>
            <div class="col-md-2 col-sm-3 center-block">
                <img class="img-responsive" src="~/Content/imgs/Logo_sm.png" />
            </div>
            <div class="col-md-5 col-sm-9 hidden-xs">
                <img class="img-responsive"src="~/Content/imgs/cleveland-skyline-black-silhouette.svg" />
            </div>
        </div>
        </header>
    <nav class="navbar">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="container-fluid collapse navbar-collapse">
                <ul class="nav navbar-nav text-black">
                    <li name="home" class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li name="addLandmark" class="@(ViewContext.RouteData.Values["Action"].ToString() == "SubmitNewLandmark" ? "active" : "")">@Html.ActionLink("Add Landmark", "SubmitNewLandmark", "Landmark")</li>
                    <li name="approveLandmark" class="@(ViewContext.RouteData.Values["Action"].ToString() == "UnapprovedLandmarkList" ? "active" : "")">@Html.ActionLink("Approve Landmark", "UnapprovedLandmarkList", "Landmark")</li>
                    <li name="viewLandmarks" class="@(ViewContext.RouteData.Values["Action"].ToString() == "LandmarkList" ? "active" : "")">@Html.ActionLink("View Landmarks", "LandmarkList", "Landmark")</li>
                    <li name="viewItineraries" class="@(ViewContext.RouteData.Values["Action"].ToString() == "ViewItineraries" ? "active" : "")">@Html.ActionLink("View Itineraries", "ViewItineraries", "Itinerary")</li>
                    <li name="createItinerary" class="@(ViewContext.RouteData.Values["Action"].ToString() == "CreateItinerary" ? "active" : "")">@Html.ActionLink("Create Itinerary", "CreateItinerary", "Itinerary")</li>
                </ul>
            </div>
    </nav>
    <section id="main_content">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
</body>
</html>