@model Capstone.Web.Models.LandmarkModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="submit_landmark container well well-sm center-block">
    <div class="center-block">
        <h2 class="center-block pagetitle">Add Landmark</h2>
        <br />
        <br />
        <div class="row center-block">
            <div>
                <h3>Please use the search box to find a location:</h3>
                <input id="pac-input" class="controls" type="text" placeholder="Enter Name or Address of Landmark">
                @Html.Partial("_Map")
            </div>
            <br />
            <br />

            <script>
                var places;

                addLandmark();
            </script>


            <div>
                @using (Html.BeginForm("SubmissionConfirmation", "Landmark", FormMethod.Post, new { @class = "submission_form", enctype = "multipart/form-data" }))

            {

                    @*To move 'Search Box' on to form side
                        <div class="form-group">
                            <label for="inputLocation">Search</label>
                            <input type="text" class="form-control controls" id="location pac-input" aria-describedby="searchLocation" placeholder="Search for a Location">
                            <small id="locationHelp" class="form-text text-muted">Please enter the name or address of a landmark you would like to add.</small>
                        </div>*@
                    <div class="form-group">
                        <label for="inputLocation">Description</label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @id = "location", @rows = "3", @placeholder = "Enter Description of Landmark" })
                        @*<textarea class="form-control" id="location" rows="3" placeholder="Enter Description of Landmark"></textarea>*@
                        <small id="descriptionHelp" class="form-text">Please enter a brief description of the landmark.</small>


                        @Html.ValidationMessageFor(m => m.Description)


                        @* To upload photo:
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                <small id="fileHelp" class="form-text text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
                            </div>*@

                        @Html.HiddenFor(m => m.Name, new { id = "LandmarkName" })


                        @Html.HiddenFor(m => m.Latitude)
                        @Html.HiddenFor(m => m.Longitude)

                        @Html.HiddenFor(m => m.GooglePlacesID, new { name = "placeID" })
                    </div>
                    <button id="landmark_submit" type="submit" class="btn btn-primary btn-lg center-block">Submit</button>

                }
            </div>
        </div>
    </div>
</div>


