@model Capstone.Web.Models.LandmarkSubmissionModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Landmark</h2>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
@Html.Partial("_Map");

<script>
    var places;
    addLandmark();
  
</script>

@using (Html.BeginForm("SubmissionConfirmation", "Landmark",  FormMethod.Post, new { @class = "submission_form",enctype = "multipart/form-data" }))
{
    
    @Html.HiddenFor(m=>m.LandmarkName, new { name = "landmarkName"})
    

    @Html.Label("description", "Please enter a brief description")
    @Html.TextAreaFor(m => m.Description, new { name = "description"})
    @Html.ValidationMessageFor(m => m.Description)

    
    @Html.HiddenFor(m => m.StreetAddress,new { name = "street_address" })
    
    
    @Html.HiddenFor(m =>m.City, new { name = "city" })

    
    @Html.HiddenFor(m=>m.State,new { name = "state" })

    
    @Html.HiddenFor(m=>m.zip, new { name = "zip" })


    <button id="landmark_submit">Submit</button>
}       