@model List<Capstone.Web.Models.LandmarkModel>
@{
    ViewBag.Title = "UnapprovedLandmarkList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <h2 class="pagetitle">Approve Landmarks</h2>
    </div>

    <div class="row">
        <div class="col-sm-6 well well-lg">
            @Html.Partial("_Map")
            <script>

                generateMap(@Html.Raw(Json.Encode(Model)));
            </script>
        </div>

        <div class="col-sm-6  well">
            @using (Html.BeginForm("ApproveLandmarks", "Landmark", FormMethod.Post))
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    <div class="row approve-list">
                        <div class="col-md-9 landmark_details_pending">
                            <br />
                            <h4 class="landmark_name_pending">@Model[i].Name</h4>
                            <br />
                            <p class="landmark_description_pending">@Model[i].Description</p>
                        </div>

                        <div class="col-md-3 checkbox checkbox-inline approve_tab">
                            @Html.Label("Approve")
                            @Html.Hidden("landmarksList[" + @i + "].ID", Model[i].ID)
                            <br />
                            @Html.CheckBox("landmarksList[" + @i + "].IsApproved", Model[i].IsApproved)
                        </div>
                    </div>
                }

                <button id="submit_approval_button">Submit Approval(s)</button>
            }
        </div>
    </div>
</div>
